@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* html[theme='dark-mode'] {
    filter: invert(1) hue-rotate(180deg);
} */
:root {
  /* --primary-color: #111827; */
  /* --primary-color: #337ab7; */
  --primary-color: #182d5c;
  --blue-color: #4b5563;
  --off-white: #e5e7eb;
}
body {
  font-family: "Montserrat", sans-serif;
  /* margin: 0px; */
  scroll-behavior: smooth;
}
hr {
  margin: 2rem 0rem;
}
.container {
  /* padding-left: 1rem;
    padding-right: 1rem; */
  padding: 1rem 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}
.links {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.primary-link {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
  padding: 0.5em 0.5rem;
  margin: 1rem 0.5rem 0.5rem 0rem;
}

.secondary-link {
  color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 0rem 0rem 1rem 0rem;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 0.5rem;
  margin: 1rem 0.5rem 0.5rem 0rem;
}
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.navigation .links {
  color: white;
}
.navigation .nav-pills {
  text-align: right;
}
.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}

#top-name {
  margin-top: 20px;
  margin-left: 20px;
}
.navigation .link-active {
  font-weight: bold;
}
.hero {
  padding: 2rem;
  padding-top: 3rem;
}
.hero .hero-img {
  max-width: 210px;
  display: block;
  margin: auto;

  
}
.hero .hero-heading {
  color: var(--blue-color);
  text-align: center;
  padding-top: 1rem;
}
.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}
.ow {
  background-color: var(--off-white);
}
.footer {
  background-color: var(--primary-color);
  padding: 1rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
  padding-bottom: 1em;
}
.footer ul {
  padding-inline-start: 0px;
}
.footer img {
  width: 1.5em;
}
.marge {
  padding: 15px 0px;
}
p.big {
  line-height: 2;
}

.list-item-inline a i {
  color: #e5e7eb;
  font-size: 26px;
  opacity: 0.7;
}

.list-item-inline a:hover i {
  opacity: 1;
}
@media (max-width: 300px){
.primary-link{
  padding: 10px;
}
}